.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkoutTitle {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.checkoutAd {
  width: 100%;
  border: 1px solid rgb(228, 225, 225);
  margin-bottom: 10px;
}
