.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.headerLogo {
  width: 100px;
  margin: 18px 20px 0 20px;
  object-fit: contain;
}

.headerSearchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}

.headerSearch {
  display: flex;
  flex: 1;
}

.headerSearchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.headerOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.headerOptionLine1 {
  font-size: 10px;
}
.headerOptionLine2 {
  font-size: 13px;
  font-weight: 800;
}
.headerOptionBasket {
  display: flex;
  align-items: center;
}
.headerBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}
